services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres-data-volume:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  adminer:
    image: adminer:4.8.1
    restart: always
    depends_on:
      - postgres
    ports:
      - "8080:8080"

  pyspark-notebook:
    image: jupyter/pyspark-notebook
    volumes:
      - .:/home/jovyan/work
    ports:
      - "8888:8888"
      - "4040:4040"
      - "4041:4041"

# ส่วนที่สำคัญที่สุด: ต้องมีการประกาศชื่อ volume ไว้ที่ระดับนอกสุดแบบนี้ด้วย
volumes:
  postgres-data-volume:

 ##docker exec -it $(docker ps -qf "name=postgres") psql -U postgres
